### Procesado de datos con Pandas y Numpy

1. Carga en el entorno el «poblacionMunicipios.csv» proporcionado por el profesor respetando las tildes y caracteres españoles.

In [1]:
import pandas as pd
import numpy as np
poblacionMunicipios = pd.read_csv('04-poblacionMunicipios.csv')
#display(poblacionMunicipios)
display(poblacionMunicipios.head())

,Unnamed: 0,CodProvincia,Provincia,CodMunicipio,Municipio,Poblacion
0,0,1,Araba/Álava,1,Alegría-Dulantzi,2869
1,1,1,Araba/Álava,2,Amurrio,10114
2,2,1,Araba/Álava,3,Aramaio,1513
3,3,1,Araba/Álava,4,Artziniega,1861
4,4,1,Araba/Álava,6,Armiñón,231

2. Elimina las filas correspondientes a municipios sin población.

In [2]:
poblacionMunicipios = poblacionMunicipios[poblacionMunicipios["Poblacion"] > 0] 
display(poblacionMunicipios.head())
display(poblacionMunicipios)

,Unnamed: 0,CodProvincia,Provincia,CodMunicipio,Municipio,Poblacion
0,0,1,Araba/Álava,1,Alegría-Dulantzi,2869
1,1,1,Araba/Álava,2,Amurrio,10114
2,2,1,Araba/Álava,3,Aramaio,1513
3,3,1,Araba/Álava,4,Artziniega,1861
4,4,1,Araba/Álava,6,Armiñón,231

,Unnamed: 0,CodProvincia,Provincia,CodMunicipio,Municipio,Poblacion
0,0,1,Araba/Álava,1,Alegría-Dulantzi,2869
1,1,1,Araba/Álava,2,Amurrio,10114
2,2,1,Araba/Álava,3,Aramaio,1513
3,3,1,Araba/Álava,4,Artziniega,1861
4,4,1,Araba/Álava,6,Armiñón,231
...,...,...,...,...,...,...
8111,8112,50,Zaragoza,901,Biel,168
8112,8113,50,Zaragoza,902,Marracos,106
8113,8114,50,Zaragoza,903,Villamayor de Gállego,2838
8114,8115,51,Ceuta,1,Ceuta,84018
8115,8116,52,Melilla,1,Melilla,80802

3. Imprime el total de la población de todos los municipios.

In [3]:
#el método sum suma todas las tablas del dataframe
totalPopulation=poblacionMunicipios["Poblacion"].sum()
print("Población total ",totalPopulation)

Población total  47265321

4. Crea un DataFrame de Pandas donde la primera columna sean todas las provincias que aparecen en el archivo, la segunda columna el número total de habitantes por provincia, la tercera la desviación típica en el número total de habitantes por provincia y la cuarta el número total de municipios por provincia.

In [4]:
listaProvinciasGby=poblacionMunicipios.groupby('Provincia')
listaProvincias=listaProvinciasGby.sum()
listaDeStd = listaProvinciasGby["Poblacion"].std()
numMunicipios=listaProvinciasGby["CodMunicipio"].count()

provincias = pd.DataFrame({'Poblacion':listaProvincias['Poblacion'],
                          'std':listaDeStd,
                          'Municipios':numMunicipios})
display(provincias.head())
provincias=provincias.reset_index();
display(provincias.head())

                  Poblacion           std  Municipios
Provincia
Albacete             402837  18969.349858          87
Alicante/Alacant    1943910  36975.788257         141
Almería              704219  22487.718633         102
Araba/Álava          322557  33817.226014          51
Asturias            1077360  41147.126270          78

          Provincia  Poblacion           std  Municipios
0          Albacete     402837  18969.349858          87
1  Alicante/Alacant    1943910  36975.788257         141
2           Almería     704219  22487.718633         102
3       Araba/Álava     322557  33817.226014          51
4          Asturias    1077360  41147.126270          78

5. Carga el archivo «CP_Municipios.csv».

In [5]:
municipios = pd.read_csv('04-CP_Municipios.csv')
display(municipios.head())

   CodProvincia  CodMunicipio    CP         Municipio
0             1             1  1240  Alegría-Dulantzi
1             1             1  1193  Alegría-Dulantzi
2             1             2  1450           Amurrio
3             1             2  1468           Amurrio
4             1             2  1470           Amurrio

6. Empleando el código de provincia y el código de municipio, cruza los dos datasets comentados hasta el momento. El resultado final debe ser un DataFrame

In [6]:
poblacionMerge = pd.merge(poblacionMunicipios,municipios,how='outer',on=('CodProvincia','CodMunicipio'),suffixes=('-poblacion','-municipios'),indicator=True)
display(poblacionMerge.head())

,Unnamed: 0,CodProvincia,Provincia,CodMunicipio,Municipio-poblacion,Poblacion,CP,Municipio-municipios,_merge
0,0.0,1,Araba/Álava,1,Alegría-Dulantzi,2869.0,1240.0,Alegría-Dulantzi,both
1,0.0,1,Araba/Álava,1,Alegría-Dulantzi,2869.0,1193.0,Alegría-Dulantzi,both
2,1.0,1,Araba/Álava,2,Amurrio,10114.0,1450.0,Amurrio,both
3,1.0,1,Araba/Álava,2,Amurrio,10114.0,1468.0,Amurrio,both
4,1.0,1,Araba/Álava,2,Amurrio,10114.0,1470.0,Amurrio,both

7. Genera un CSV llamado «faltan.csv» con todos los códigos postales que estén en «CP_Municipios.csv» pero que no tengan en «poblacionMunicipios.csv» ningún municipio con el que poder cruzar. Si todo cruza correctamente el archivo «faltan.csv» estará vacío. Se puede decir que «faltan.csv» son los códigos postales que se han perdido en el cruce a la hora de considerar la población

In [7]:
print("Municipios sin CP en el fichero CP_Municipios.csv")
display(poblacionMerge[poblacionMerge["_merge"] == 'left_only'])
print("municipios con codigo postal no agregados al fichero poblacionMunicipios.csv")
faltanEnPoblacioncsv = poblacionMerge[poblacionMerge["_merge"] == 'right_only']
display(faltanEnPoblacioncsv)
toSave=faltanEnPoblacioncsv[['CodProvincia','CodMunicipio','CP','Municipio-municipios']]
print("Municipios que vamos a escribir en faltan.csv")
display(toSave)
toSave.to_csv("04-faltan.csv",index=False)
#all_merged_data = pd.merge(cp_municipios_data, poblacion_municipios_data, on=['CodProvincia', 'CodMunicipio'], how='left')
# tomamos aquellas filas que tengan NaN en la columna 'Poblacion'
#missing_cp_data = all_merged_data[np.isnan(all_merged_data['Poblacion'])]['CP']

Municipios sin CP en el fichero CP_Municipios.csv

,Unnamed: 0,CodProvincia,Provincia,CodMunicipio,Municipio-poblacion,Poblacion,CP,Municipio-municipios,_merge
1228,747.0,6,Badajoz,118,Sancti-Spíritus,235.0,NaN,NaN,left_only
2478,1565.0,10,Cáceres,23,Arroyomolinos,948.0,NaN,NaN,left_only
3873,2275.0,16,Cuenca,67,Castejón,188.0,NaN,NaN,left_only
3949,2333.0,16,Cuenca,135,Moya,199.0,NaN,NaN,left_only
4125,2480.0,17,Girona,30,Cabanes,931.0,NaN,NaN,left_only
4219,2550.0,17,Girona,105,Mieres,333.0,NaN,NaN,left_only
4336,2635.0,17,Girona,197,Torrent,193.0,NaN,NaN,left_only
5237,3234.0,21,Huelva,18,"Campillo, El",2202.0,NaN,NaN,left_only
6335,3745.0,24,León,165,Sobrado,363.0,NaN,NaN,left_only
7844,4361.0,28,Madrid,86,"Molar, El",8226.0,NaN,NaN,left_only
8251,4576.0,30,Murcia,19,Cieza,35351.0,NaN,NaN,left_only
8717,4814.0,31,Navarra,212,Sada,184.0,NaN,NaN,left_only
11600,5846.0,39,Cantabria,99,Villaescusa,3755.0,NaN,NaN,left_only
12260,6287.0,42,Soria,151,Rebollar,42.0,NaN,NaN,left_only
12724,6618.0,44,Teruel,102,Fonfría,30.0,NaN,NaN,left_only
13769,7450.0,47,Valladolid,221,Villanueva de los Infantes,118.0,NaN,NaN,left_only
13780,7461.0,47,Valladolid,232,"Zarza, La",124.0,NaN,NaN,left_only

municipios con codigo postal no agregados al fichero poblacionMunicipios.csv

,Unnamed: 0,CodProvincia,Provincia,CodMunicipio,Municipio-poblacion,Poblacion,CP,Municipio-municipios,_merge
14733,NaN,6,NaN,903,NaN,NaN,6186.0,Guadiana del Caudillo,right_only

Municipios que vamos a escribir en faltan.csv

       CodProvincia  CodMunicipio      CP   Municipio-municipios
14733             6           903  6186.0  Guadiana del Caudillo

8. Agrupa la información por código postal. Se quiere un DataFrame con las siguientes columnas:
    * Código postal.
    * Número de municipios que tienen dicho código postal asignado.
    * Población: se calculará como la suma de la población de todos los municipios que incluyen a dicho código postal.
    * Provincia: a la que está asignada el código postal.

In [8]:
mergeBoth = poblacionMerge[poblacionMerge["_merge"] == 'both']
listaCPGb = mergeBoth.groupby('CP')

listaCP=listaCPGb['CodMunicipio'].count()
CP = pd.DataFrame({'NumMunicipios':listaCP,
                  'Poblacion':listaCPGb['Poblacion'].sum(),
                  'Provincia':listaCPGb['Provincia'].unique()})
CP = CP.reset_index()
display(CP.head())
display(CP[CP["NumMunicipios"] > 1])

       CP  NumMunicipios  Poblacion      Provincia
0   548.0              1     5233.0        [Ávila]
1  1001.0              1   242223.0  [Araba/Álava]
2  1002.0              1   242223.0  [Araba/Álava]
3  1003.0              1   242223.0  [Araba/Álava]
4  1004.0              1   242223.0  [Araba/Álava]

            CP  NumMunicipios  Poblacion              Provincia
11      1012.0              2   243731.0          [Araba/Álava]
15      1117.0              2     1414.0          [Araba/Álava]
16      1118.0              3     2213.0  [Araba/Álava, Burgos]
18      1128.0              3     2443.0          [Araba/Álava]
28      1191.0              2   245295.0          [Araba/Álava]
...        ...            ...        ...                    ...
10994  50692.0              2   680560.0             [Zaragoza]
10998  50696.0              2      956.0             [Zaragoza]
11003  50720.0              2   682812.0             [Zaragoza]
11024  50830.0              3    19516.0             [Zaragoza]
11026  50850.0              2      326.0             [Zaragoza]

[2337 rows x 4 columns]